<ul class="dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}" class="dropdown-menu">
	<li ng-transclude></li>
	<li class="divider"></li>
	<li style="padding: 9px;">
		<span class="btn-group">
			<button class="btn btn-sm btn-success" ng-click="today()" tabindex="-1">Today</button>
			<button class="btn btn-sm btn-info" ng-click="showWeeks = ! showWeeks" ng-class="{active: showWeeks}" tabindex="-1">Weeks</button>
			<button class="btn btn-sm btn-danger" ng-click="clear()" tabindex="-1">Clear</button>
		</span>
		<button class="btn btn-sm btn-primary pull-right" ng-click="isOpen = false" tabindex="-1">Close</button>
	</li>
</ul>